@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --ThemeBlack: #011627;
    --ThemeGrey: #5D737E;
    --ThemeWhite: #F6F7F8;
    --ThemeBlue: #20A4F3;
    --ThemeGreen: #90A955;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}


/* ------------------------------------------------------------------------- Start of navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--ThemeBlack);
    
}
.navbar a {
    color: var(--ThemeBlack);
    text-decoration: none;
    padding: 0 25px;
}
.navbar a:hover{
    text-decoration: underline;
}

.search {
    position: relative;
    margin: 0 auto;
    border-radius: 25px;
    color: var(--ThemeWhite);
}

.input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid var(--ThemeGrey);
    border-radius: 25px;
    background-color: var(--ThemeGrey);
    color: var(--ThemeWhite);
    
}
.input::placeholder {
    color: var(--ThemeWhite);
}

.svg_icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: var(--ThemeWhite);
}



/* ------------------------------------------------------------------------- Start of Main */

.main {
    display: flex;
    background-color: var(--ThemeWhite);
}


/* ------------------------------------------------------------------------- Start of Filters */
.filter {
    width: 15%;
    padding: 25px;
    color: var(--ThemeBlack);
}

.filter h1 {
    font-size: 32px;
    font-weight: 400;
}

.filter h2 {
    font-size: 20px;
    font-weight: 400;
}

.filter ul {
    list-style-type: none;
    padding: 0;
}



/* ------------------------------------------------------------------------- Start of Display */

.display {
    width: 85%;
}

/* Cards */

.card {
    background-color: var(--ThemeGrey);
    color: var(--ThemeWhite);
    width: 200px;
    border-radius: 14px;
    height: 250px;
    margin: 20px;
    float: left;
}

.card img {
    height: 200px;
    width: 200px;
}
.card .info *{
    padding: 0 10px;
    margin: 0;
}

.card .title {
    font-size: 12px; 
}

.card .stock {
    font-size: 12px;
}


