<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/staff.css">
    <title>ShopLyft</title>
</head>
<body>
    <div class="navbar">
        <a href="">Shoplyft</a>
        <div class="search">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg_icon bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg>
            <input class="input" type="text" placeholder="Search">    
        </div>
        
        <a href="">Staff</a>
    </div>

    <div class="main">

        <div class="filter">
            <h1>Filters</h1>
            <h2>Brand</h2>
            <ul>
                <li><label for="Nike"><input type="checkbox" id="Nike" name="brand" value="Nike">Nike</label></li>
                <li><label for="Old Navy"><input type="checkbox" id="Old Navy" name="brand" value="Old Navy">Old Navy</label></li>
                <li><label for="Champion"><input type="checkbox" id="Champion" name="brand" value="Champion">Champion</label></li>
            </ul>
            <h2>Size</h2>
            <ul>
                <li><label for="Small"><input type="checkbox" id="Small" name="size" value="Small">Small</label></li>
                <li><label for="Medium"><input type="checkbox" id="Medium" name="size" value="Medium">Medium</label></li>
                <li><label for="Large"><input type="checkbox" id="Large" name="size" value="Large">Large</label></li>
            </ul>
            <h2>Gender</h2>
            <ul>
                <li><label for="Male"><input type="checkbox" id="Male" name="gender" value="Male">Male</label></li>
                <li><label for="Female"><input type="checkbox" id="Female" name="gender" value="Female">Female</label></li>
                <li><label for="Unisex"><input type="checkbox" id="Unisex" name="gender" value="Unisex">Unisex</label></li>
            </ul>
            <h2>Type</h2>
            <ul>
                <li><label for="Pants"><input type="checkbox" id="Pants" name="type" value="Pants">Pants</label></li>
                <li><label for="Shirt"><input type="checkbox" id="Shirt" name="type" value="Shirt">Shirt</label></li>
                <li><label for="Socks"><input type="checkbox" id="Socks" name="type" value="Socks">Socks</label></li>
            </ul>

        </div>
        {{for card in cards}}
        <div class="display">
            <div class="card">
                <img src="images/image 16.png" alt="shirt">
                <div class="info">
                    <p class="title">Blue Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 17.png" alt="shirt">
                <div class="info">
                    <p class="title">White Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 18.png" alt="shirt">
                <div class="info">
                    <p class="title">Pink Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 19.png" alt="shirt">
                <div class="info">
                    <p class="title">Purple Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 16.png" alt="shirt">
                <div class="info">
                    <p class="title">Blue Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 17.png" alt="shirt">
                <div class="info">
                    <p class="title">White Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 18.png" alt="shirt">
                <div class="info">
                    <p class="title">Pink Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 19.png" alt="shirt">
                <div class="info">
                    <p class="title">Purple Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 16.png" alt="shirt">
                <div class="info">
                    <p class="title">Blue Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 17.png" alt="shirt">
                <div class="info">
                    <p class="title">White Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 18.png" alt="shirt">
                <div class="info">
                    <p class="title">Pink Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 19.png" alt="shirt">
                <div class="info">
                    <p class="title">Purple Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 16.png" alt="shirt">
                <div class="info">
                    <p class="title">Blue Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 17.png" alt="shirt">
                <div class="info">
                    <p class="title">White Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 18.png" alt="shirt">
                <div class="info">
                    <p class="title">Pink Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 19.png" alt="shirt">
                <div class="info">
                    <p class="title">Purple Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 16.png" alt="shirt">
                <div class="info">
                    <p class="title">Blue Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 17.png" alt="shirt">
                <div class="info">
                    <p class="title">White Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 18.png" alt="shirt">
                <div class="info">
                    <p class="title">Pink Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            <div class="card">
                <img src="images/image 19.png" alt="shirt">
                <div class="info">
                    <p class="title">Purple Shirt</p>
                    <p class="stock">Stock: ##</p>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>